<mat-card>
  <mat-form-field class="input-fields">
    <input matInput [(ngModel)]="hour" (change)="onChange('hour')">
  </mat-form-field>
  :
  <mat-form-field class="input-fields">
    <input matInput [(ngModel)]="minute" (change)="onChange('minute')">
  </mat-form-field>
  <div>
    <button mat-button (click)="addOneHour()">One hour</button>
    <button mat-button (click)="addHalf()">30 Min</button>
    <button mat-button (click)="addEight()">Eight hours</button>
    <button mat-button (click)="resetTime()">Reset</button>
  </div>
</mat-card>
